.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
  padding: 0 1rem;
  overflow: hidden;
}


.login-form {
  background-color: #dbd6d6;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  display: grid;
  gap: 1.5rem;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-group input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
//   transition: background-color 0.3s ease;
}

button:disabled {
  background-color:#007bff;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}
