<header class="navbar">
  <div class="navbar-content">
    <div class="logo-section">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor" d="..."></path>
      </svg>
      <div class="logo-text">StayHub</div>
    </div>

    <ng-container *ngIf="isLoggedIn(); else signInBlock">
      <!-- <span class="user-email">{{ email }}</span> -->
      <button class="btn add-btn" (click)="logout()">Logout</button>
    </ng-container>

    <ng-template #signInBlock>
      <button class="sign-in" routerLink="/user-login">Sign In</button>
    </ng-template>
  </div>
</header>
